<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${title}"></p>

<ul th:each="author : ${authors}">
    <li th:text="${author.firstName}"></li>
</ul>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.Id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
    </tr>
</table>

Displaying authors
</body>
</html>