<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add author</title>
</head>
<body>


    <form th:action="@{/author-add}" th:object="${NewAuthor}">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" th:field="*{firstName}"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" th:field="*{lastName}"><br><br>
        <input type="submit" value="Add author">
    </form>

    <p>If you click the "Add author" button, the form-data will be sent to a page called "http://localhost:8080/author".</p>

</body>
</html>